/* ----- search bar input ----- */

.input-wrapper {
    color: var(--black);
    height: 2rem;
    width: 120%;
    border-radius: 1rem;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    padding: 0 .25rem;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
    color: var(--white);
    font-size: 1rem;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--white);
    opacity: .5;
}

#search-icon {
    color: var(--white);
    opacity: .8;
    padding: 0 .5rem;
}

#close-icon {
    margin: 0 .5rem;
    cursor: pointer;
    color: var(--white);
    opacity: .8;
}

#close-icon:hover {
    opacity: 1;
}

/* ----- search bar result list ----- */

.search-bar-result-list {
    color: var(--txt);
    position: absolute;
    background-color: var(--red);
    width: 300px;
    border-radius: 0rem 0rem 1rem 1rem;
    max-height: 300px;
    overflow-y: scroll;
}

/* ----- Search Result ----- */

.search-result-anchor a:hover {
    color: var(--white);
}

.search-result {
    padding: 1rem 1rem;
    cursor: pointer;
}

.search-result:hover {
    background-color: #ffffff2a;
}