.input-wrapper {
    color: var(--black);
    background-color: var(--white);
    height: 1.8rem;
    width: 100%;
    border-radius: 1rem;
    padding: 0 .25rem;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
}

input:focus {
    outline: none;
}

#search-icon {
    color: var(--red);
    padding: 0 .5rem;
}

.search-bar-result {
    color: blueviolet;
}