/* ----- search bar input ----- */

.input-wrapper {
    color: var(--black);
    /* background-color: var(--white); */
    height: 1.8rem;
    width: 120%;
    border-radius: 1rem;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    padding: 0 .25rem;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    width: 85%;
    height: 100%;
    color: var(--white);
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--white);
    opacity: .5;
}

#search-icon {
    color: var(--white);
    opacity: .8;
    padding: 0 .5rem;
}

/* ----- search bar result ----- */

.search-bar-result {
    color: white;
    position: absolute;
    background-color: var(--test);
    width: 300px;
    margin-top: 5rem;
    border-radius: 0rem 0rem 1rem 1rem;
    max-height: 300px;
    overflow-y: scroll;
}