nav a {
    color: var(--txt);
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}

nav a:hover {
    color: var(--txtHover);
}

nav a.action {
    color: var(--txtHover);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav {
    color: var(--txt);
    padding: 1rem 8rem;
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo-search {
    display: flex;
    gap: 3rem;
}

.logo-search h1 {
    font-weight: 800;
}

/* .search-bar-container {
} */