#recommended {
    color: var(--txt);
    padding: 0 140px;
}

.recommend-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    margin: 20px 0;
}

.recommend-item {
    position: relative;

}

.recommend-pic-box {
    width: 440px;
    height: 280px;
    background-color: #D9D9D9;
}

.recommend-description-box {
    position: absolute;
    display: none;
    justify-content: space-between;
    width: 420px;
    bottom: 0;
    padding: 10px;
}

.recommend-pic-box:hover + .recommend-description-box {
    display: flex;
    background-image: linear-gradient(#d9d9d9, #303030);
}



