#recommended {
    color: var(--txt);
    padding: 0 140px;
    padding-top: 200px;
}

.recommend-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    margin: 20px 0;
}

.recommend-item {
    position: relative;

}

.recommend-pic-box {
    width: 440px;
    height: 280px;
}

.recommend-description-box {
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    width: 440px;
    height: 280px;
    bottom: 0;
    padding: 10px;
}

.recommend-pic-box:hover + .recommend-description-box {
    display: flex;
    background-image: linear-gradient(#ffffff32, #303030); 
}

 .recommend-container a {
    text-decoration: none;
    color: var(--txt);
}

.recommend-pic-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



