#recommended {
    color: var(--txt);
    padding: 0 140px;
    padding-top: 100px;
}

.recommend-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    row-gap: 2vw;
    margin: 20px 0;
}

.recommend-item {
    position: relative;
}

.recommend-pic-box {
    width: 26vw;
}

.recommend-description-box {
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding: 10px;
}

.recommend-pic-box:hover + .recommend-description-box {
    display: flex;
    background-image: linear-gradient(#ffffff32, #000000); 
}

 .recommend-container a {
    text-decoration: none;
    color: var(--txt);
}

.recommend-pic-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



