@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --red: #FF5656;
  --bg: #303030;
  --txt: #fff;
  --txtHover: blue;
  --test: #D9D9D9;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-weight: 500;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
}