#compare {
    margin: 28vh auto;
    padding: 0 140px;
    color: var(--txt);
  }

  #compare header {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .getCompareBtn {
    padding: 1rem 1.8rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border-radius: 3rem;
    border: solid 1px var(--white);
    background-color: var(--black);
    cursor: pointer;
    transition: all ease 0.3s;
  }

  .getCompareBtn:hover {
    color: var(--black);
    background-color: var(--red);
  }
  
  .characters {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
  }
  
  .characters-list {
    width: 30%;
    height: 100%;
  }

  /* title */
  .characters-list h1 {
    font-size: calc(10px + 1.5vmin);
    font-weight: 700;
    margin-top:  1.5rem;
  }

  /* channelName */
  .characters-list h2 {
    font-size: calc(10px + .5vmin);
    font-weight: 600;
    margin-top: .4rem;
  }

  /* description */
  .characters-list p {
    font-size: calc(10px + .3vmin);
    margin: 1rem auto;
  }
  
  /* publish time and view count */
  .characters-list footer {
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + .3vmin);
    margin-top: 2rem;
  }
  
  .characters-thumb {
    overflow: hidden;
    flex-shrink: 0;
    margin-top: .4rem;
  }
  
  .characters-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }

  .btn-icon {
    align-items: end;
    font-size: 1.5rem;
    /* padding: 0 1rem 0 0;
    color: var(--black); */
    border: none;
    background: none;
    cursor: pointer;
    transition: all .1s ease;
  }

  .remove-btn {
    font-size: 1.5rem;
    color: var(--black);
    padding: 0 1rem 0 0;
  }

  .remove-btn:hover {
    color: var(--red);
  }

  .link-vdo-btn {
    font-size: 1.4rem;
    color: var(--black);
  }
  
  .link-vdo-btn a {
    color: var(--black);
  }

  .link-vdo-btn a:hover {
    color: var(--red);
  }

