#compare {
    margin: 28vh auto;
    padding: 0 140px;
    color: var(--txt);
  }
  
  .characters {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
  }
  
  .characters-list {
    width: 30%;
    height: 100%;
  }

  /* title */
  .characters-list h1 {
    font-size: calc(10px + 1.5vmin);
    font-weight: 700;
    margin-top:  1.5rem;
  }

  /* channelName */
  .characters-list h2 {
    font-size: calc(10px + .5vmin);
    font-weight: 600;
    margin-top: .4rem;
  }

  /* description */
  .characters-list p {
    font-size: calc(10px + .3vmin);
    margin: 1rem auto;
  }
  
  /* publish time and view count */
  .characters-list footer {
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + .3vmin);
    margin-top: 2rem;
  }
  
  .characters-thumb {
    overflow: hidden;
    flex-shrink: 0;
    margin-top: .4rem;
  }
  
  .characters-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
